/* ----------------------------------------*\
  App Download
\*---------------------------------------- */

.app-download {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-block: var(--space-3);

  color: var(--color-white);
  background-color: rgba(0, 0, 0, .6);
}

.app-download__layout {
  display: grid;
  align-items: center;
  row-gap: var(--space-3);

  @include screen(md) {
    grid-template-columns: var(--layout-offset) 1fr;
  }
}

.app-download__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-2);
}

.app-download__button-close {
  @extend %button-reset;
  font-size: var(--text-3xl);
}
