/* ----------------------------------------*\
  List Horizontal
\*---------------------------------------- */

.list-horizontal {
  --gap: var(--space-4); 

  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--gap);
  list-style-type: none;
}

.list-horizontal--large-gap {
  --gap: var(--space-8); 
}
