/* ----------------------------------------*\
  Section
\*---------------------------------------- */

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100lvh;
  scroll-snap-align: start;
  outline: 5px dotted rgba(0,0,0, 0.2);
}

.section__body {
  padding-left: var(--layout-offset);
}

.section__footer {
  margin-top: var(--space-12);
  
  @include screen(md) {
    margin-top: var(--space-24);
  } 
}
