/* ----------------------------------------*\
  Section
\*---------------------------------------- */

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100lvh;
  scroll-snap-align: start;
}

@include screen(md) {
  .section__body {
    position: absolute;
    left: 50%;
    max-width: calc(50% - var(--space-8));

    // alternative
    // padding-left: var(--layout-offset);
  }
}

.section__footer {
  margin-top: var(--space-12);
  
  @include screen(md) {
    margin-top: var(--space-24);
  } 
}
