/* ----------------------------------------*\
  Container
\*---------------------------------------- */

.container {
  width: 100%;
  max-width: 1200px;
  padding-inline: var(--space-4);
  margin-inline: auto;
}
