/* ----------------------------------------*\
  Tokens
\*---------------------------------------- */

:root {
  --layout-offset: 500px;

  // Colors
  --color-green-500: #7dd6c2;
  --color-violet-500: #bdb4ed;
  --color-green-400: #b3ebd5;

  --color-black: #1f1f1f;
  --color-grey-800: #373734;
  --color-grey-700: #96968f;
  --color-grey-600: #b1b2a9;
  --color-grey-500: #d6d7cc;
  --color-grey-300: #e2e3db;
  --color-grey-200: #efefeb;
  --color-grey-100: #f7f7f5;
  --color-white: #fff;

  // Color mapping
  --color-text: var(--color-black);
  --color-background: var(--color-green-500);

  // Text sizes
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.75rem; /* 28px */
  --text-4xl: 2rem; /* 32px */
  --text-5xl: 2.5rem; /* 40px */
  --text-6xl: 3rem; /* 48x */
  --text-7xl: 3.75rem; /* 60px */
  --text-8xl: 5rem; /* 80px */

// Font family
  --font-family: arial;

  // Font weights
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  // Leadings
  --leading-none: 1;
  --leading-small: 1.1;
  --leading-tight: 1.2;
  --leading-normal: 1.4;
  --leading-relaxed: 1.6;

  // Spaces
  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-32: 8rem;
  --space-48: 12rem;
  --space-64: 16rem;
}
