/* ----------------------------------------*\
  BASE
\*---------------------------------------- */

html {
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--text-base);
  font-weight: var(--font-light);
  line-height: var(--leading-normal);
  color: var(--color-text);
  background-color: var(--color-background);
  scroll-behavior: smooth;
  transition: background-color 600ms ease-in-out;
  scroll-snap-type: y mandatory;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  margin: .75em 0;
  font-weight: var(--font-bold);
  line-height: var(--leading-small);
}

strong {
  font-weight: var(--font-bold);
}

p {
  max-width: 40em;
}

p + p {
  margin-top: var(--space-4);
  
  @include screen(md) {
    margin-top: var(--space-6);
  }
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  transition: color 100ms;

  &:focus {
    @include focus;
  }
}

img {
  display: block;
  max-width: 100%;
  user-drag: none;
  user-select: none;
  pointer-events: none;
}

ul,
ol {
  list-style-position: inside;
}

dl {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
}

dd {
  width: fit-content;
}

dt,
dd {
  flex-basis: 40%;
}
